*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


div.container{
    font-size: 22px;
    color: black;
}

.nav-link{
    color: black;
}

#title{
    font-size: 30px;
}

.imagen-redonda {
    border-radius: 40%;
}

  