*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    font-size: 20px;
    color: black;
}

.nav-link{
    color: black;
}

#title{
    font-size: 30px;
}

.imagen-redonda {
    border-radius: 50%;
}

.card-image {
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor. */
    background-position: center; /* Centra la imagen de fondo horizontal y verticalmente. */
    
}

.project-text{
    text-align: center;
    font-size: 22px;
}

.card-text{
    text-align: center;
    font-size: 16px;
}
  
#proyect{
    font-size: 30px;
}
