*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


div.container{
    font-size: 25px;
    color: black;
    
}

.inicio{
    background-image:url('asset/cerosunos.jpg');
    opacity: 0.8;
}

.nav-link{
    color: black;
}

#title{
    font-size: 30px;
}

.imagen-redonda {
    border-radius: 40%;
}

.card-image {
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor. */
     background-position: center; /* Centra la imagen de fondo horizontal y verticalmente. */
    
}

.project-text{
    text-align: center;
    font-size: 25px;
}

.card-text{
    text-align: justify;
    font-size: 20px;
}
  